<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/bundles/jquery")" type="text/javascript"></script>
    <meta name="description" content="Sports Store" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div id="header">
    @{ Html.RenderAction("Summary", "Cart"); }
        <div class="title">SPORTS STORE</div>
    </div>
    <div id="categories">
        @{ Html.RenderAction("Menu", "Nav"); }
    </div>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
