@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@if (ViewBag.EmptyStore) {
    <h1>Store is empty!</h1>
}
@foreach (var p in Model.Products) {
    Html.RenderPartial("ProductSummary", p);
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
                                                      new { page = x, category = Model.CurrentCategory }))
</div>