@model SportsStore.WebUI.Models.LogOnViewModel

@{
    ViewBag.Title = "LogOn";
}

<h2>Log In</h2>

<p>Please log in to access the administrative area or @Html.ActionLink("register", "Register"):</p>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p><input type="submit" value="Log In" /></p>
}