@model SportsStore.WebUI.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<p>Please fill in the blanks to create your account</p>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <p><input type="submit" value="Register" /></p>
}

<script src="~/Scripts/jquery-1.6.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
